html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}


h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/
button,
input { /* 1 */
  overflow: visible;
}

button,
select { /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}


legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}


progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}


[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}
[hidden] {
  display: none;
}


/*The begin of own styles*/
main{
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, rgb(106, 120, 209), rgb(0, 164, 189));
  font-family: Helvetica; 
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1{
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding-top: 20px;
}
input{
  border: none;
  border-radius: 20px;
  display: block;
  padding: 10px 20px;
  margin: 15px auto;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
.button{
  display: block;
  border: 5px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  width: 100px;
  line-height: 100px;
  height: 100px;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  transition: 1s ease;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
}
.button:hover{
  background: rgb(0, 164, 189, 0.8);
}

section{
  width: 80%;
  max-width: 800px;
  min-width: 576px;
  margin: 0 auto;
  padding: 40px 60px;
  background: #fff;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
section>h2{
  margin-top: 0;
  padding-top: 20px;
}

table{
  border-collapse: collapse;
  margin: 20px auto;
}
td, th{
  padding: 10px;
  display: inline-block;
  width: 100%;
  cursor: pointer;
}
th{
  border-bottom: 2px solid #539bf0;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
td{
  //background:  linear-gradient(95deg, rgb(106, 120, 209), rgb(0, 164, 189));
}
iframe{
  width: 100%;
  height: 300px;
}
h3,h2{
  margin: 10px;
}

aside ul{
  padding-left: 0;
}
aside li{
  background: #fff;
  list-style-type: none;
  color: black;
  padding: 10px 20px;
  width: 50%;
  margin: 10px auto;
  cursor: pointer;
}

.page_data{
  display: flex;
}
.container:first-child{
  flex: 2;

}
.container:last-child{
  flex: 1;
}
img{
  margin-left: 10px;
}